body {
    font-family: Arial, sans-serif;
    background-color: #0e0f0e92;
  }
  
  header {
    text-align: center;
    background-color: rgb(10, 11, 10);;
    color: white;
    padding: 20px;
  }
  
 
  #hero-section {
    text-align: center;
    margin: 50px 0;
  }
  
  #hero-section img {
    
    height: 300px;
    border: 5px solid rgba(52, 52, 76, 0.529);
  }
  
  #hero-section p {
    margin: 20px 0;
    font-size: 18px;
  }
  
  #bio-section {
    margin: 50px 0;
    text-align: justify;
    padding: 0 50px;
  }
  
  #quote-section {
    text-align: center;
    background-color: rgb(1, 16, 16);
    color: white;
    padding: 20px;
    margin: 50px 0;
  }
  
  #quote-section h2 {
    margin: 0;
  }
  
  #quote {
    font-size: 24px;
    margin: 20px 0;
    font-style: italic;
  }
  
  h2{
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(244, 240, 240);
    text-align: center;
    color: rgb(13, 16, 12);
    font-size: xx-large;
  }
  p{
    font-size: large;
    font-family: sans-serif;
  }
  #p2{
    font-size: xx-large;
    color: rgb(245, 240, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
  }